body {
  background-image: url("./background.jpg");
  background-position: center;
  overflow-y: hidden;
}

.mainContainer {
  height: 100vh;
  overflow-y: scroll;
}

.mainContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mainContainer::-webkit-scrollbar {
  display: none;
}

.usersTable {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 800px;
}

.usersTable tr {
  border-top: solid 1px black;
}

.usersTable tr td:first-child {
  width: 200px;
}

.usersTable td,
th {
  padding: 10px;
  border: solid 1px black;
}

.filterTabs th {
  cursor: pointer;
}

.filterTabs {
  position: sticky;
  top: 0;
  background-color: white;
}

.filterTabs th:first-child {
  width: 200px;
}

.filterTabs th:last-child {
  width: 140px;
}

.filterTabs th {
  width: 104px;
}

.searchTab {
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
}

.planetTab {
  cursor: pointer;
}

.planetTab:hover {
  background-color: white;
}

.loader {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiSvgIcon-root {
  color: white;
  font-size: 150px !important;
  position: absolute !important;
  top: 50% !important;
  left: 45% !important;
  /* transform: translate(-50%, -50%) !important; */
  animation: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
